# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

.DS_Store

# ignore vim related temp files
*.swp

# PyCharm files
.idea/

# ignore the data directory
data/

# ignore venv created by pycharm
venv/
